.CreateTodoButton {
    position: fixed;
    bottom: 16px;
    right: 16px;
    width: 60px;
    height: 60px;
    display: grid;
    place-content: center;
    background-color: var(--Button);
    border-radius: 50%;
    box-shadow: 0 0 10px var(--Button);
    cursor: pointer;
}