.Modal {
  /* display: none; */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--task-bg);
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  label {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  textarea {
    width: 100%;
    height: 200px;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  div {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
  }
  
  button:first-child {
    background-color: #4caf50;
    color: white;
  }
  
  button:last-child {
    background-color: #f44336;
    color: white;
  }
}
