.TodoItem {
    padding: 16px;
    display: flex;
    align-items: center;
    gap: 16px;
    background-color: var(--task-bg);
    border-radius: 24px;
}
.TodoItem label {
    width: 24px;
    height: 24px;
    display: grid;
    place-content: center;
    border: 2px solid var(--accent-1);
    border-radius: 50%;
    border-color: var(--accent-1);
    cursor: pointer;
}
.TodoItem label svg {
    display: none;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}
.TodoItem input[type="checkbox"] {
    display: none;
}
.TodoItem input[type="checkbox"]:checked ~ svg {
    display: block;
    background-color: var(--completed-task);
}